<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>Edit Product</h3>

    <form th:object="${product}" id="editForm">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input th:field="*{productName}" type="text" class="form-control mb-4 col-4" id="nameInput" th:placeholder="${product.productName}" required>
        </div>
        <div class="form-group">
            <label for="quantityInput">Quantity</label>
            <input th:field="*{productQuantity}" type="number" class="form-control mb-4 col-4" id="quantityInput" th:placeholder="${product.productQuantity}" min="1" required>
        </div>
        <a class="btn btn-primary btn-sm mb-3" onclick="updateProduct()">Update</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script th:inline="javascript">
    async function updateProduct(){
        var updatedProduct = {
            productName: document.getElementById("nameInput").value,
            productQuantity: document.getElementById("quantityInput").value
        };

        try{
            var id = /*[[${product.productId}]]*/ '';
            console.log(id);
            const response = await fetch(`/product/edit/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedProduct)
            });

            if (response.ok) {
                window.location.href = '../list'
            } else {
                console.error('Error updating product!');
            }
        } catch (err) {
            console.error(err);
        }
    }
</script>

</body>
</html>